@model MVCdemo.Models.Faculty

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>ID</td>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <td>Desg</td>
        <td>@Model.Desg</td>
    </tr>

    <tr>
        <td>Dept</td>
        <td>@Model.Dept</td>
    </tr>
</table>

